
html,body {
    background-color: #D1E4F0;
    height: 100%;
    margin: auto;
    font-family: cursive;
    overflow-x: hidden; /* Empêche le défilement horizontal */

}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 8px 16px 0 rgba(190,216,221,0.5);
    /* transition: 0.3s; */
    height: 95%;
    width: 95%;
    margin: auto;
    margin-top: 1%;
    background-color: #FEFEFC;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around
    ;
  }



.icons {
    width: 30px;
    height: 30px;
}

.title{
    display: flex;
    justify-content: center;
    color: #A2A4A3;
}


.accroche{

    margin-top: 5px;
    display: flex;
    justify-content: center;
    color: #A2A4A3;
}

.sections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cardProperty{
    height: 500px;
    width: 450px;
    box-shadow: 0 8px 16px 0 rgba(190,216,221,0.5);
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
    z-index: 2; /* Assure que les cartes sont au-dessus de l'arrière-plan */
}

.section1 {
    background-image: url(assets/firstCardBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.1);
}

.section2, .section3 {
    background-color: rgba(190,216,221,1);
    background-image: url(assets/Coming\ soon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.4);
}

.section1:hover{ /* Just for styling */
    cursor: pointer;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
  }

  #animated-background {
    position: fixed;
    width: 100%; /* Augmentez la largeur pour permettre une animation fluide */
    height: 60%;
    background-image: url('assets/clouds.png'); /* Remplacez par le chemin de votre image de nuages */
    background-size: contain;
    animation: slideClouds 30s linear infinite, vaciller 1s ease-in-out infinite;
    bottom: -120px;
}

.skill {
    margin-bottom: 10px;
}

.skill p {
    margin: 0;
    font-weight: bold;
}

.skill-level {
    background-color: #ddd;
    height: 24px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    color: white;
    font-weight: bold;
}

@keyframes slideClouds {
    from { background-position: -300% 0; }
    to { background-position: 0% 0; } /* Augmentez la distance de déplacement pour tester */
}
@keyframes vaciller {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); } /* Ajustez cette valeur pour contrôler l'amplitude du vacillement */
}

@media (max-width: 800px) {
    .sections {
      flex-direction: column;
    }
  }

  button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}