@charset "UTF-8";
* {
  color: #cfdbd5;
}

#titre {
  font-family: "New Century Schoolbook", Times, serif;
  text-align: center;
  font-size: 70px;
  color: #cfdbd5;
  padding-bottom: 50px;
}

#sous-titre {
  font-family: "New Century Schoolbook", Times, serif;
  text-align: center;
  font-size: 50px;
  background-color: #cfdbd5;
  color: #333533;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #353535;
}

#Home {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50vh;
  transform: translateY(-50%);
  /* tiré de la moitié de sa propre hauteur */
}

#Home #Menu ul li {
  padding-top: 30px;
}

#Home #Menu ul li a {
  color: #cfdbd5;
  font-size: 20px;
}

#Home #Menu img {
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 50%;
}

#Home #Menu img:hover {
  height: 130px;
  width: 130px;
}

#Form-Stud {
  padding-top: 30px;
  border-top: solid #cfdbd5;
}

#Form-Stud .formationCase {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#Form-Stud .formationCase img {
  width: 550px;
  height: 350px;
}

#Form-Stud .formationCase .contenuFormation {
  width: 600px;
}

#Form-Stud .formationCaseRight {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-around;
}

#Form-Stud .formationCaseRight img {
  width: 550px;
  height: 350px;
}

#Form-Stud .formationCaseRight .contenuFormation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 600px;
}
